.job-controller-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40rem;
  height: 20rem;
  margin: 2rem auto;
  box-shadow: 2px 3px 6px #ccc;
  border-radius: 15px;
}

.job-controller-main form {
  width: 18rem;
  height: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.job-controller-main select {
  width: 18rem;
  outline: none;
  padding: 0.3rem;
}

.job-controller-main button {
  display: block;
  padding: 0 2rem;
}

.job-controller-main-title {
  text-align: center;
}
